

<li> Age: <%= @user.age %> </li>
<li> Zip: <%= @user.zip %> </li>
<li> NTRP Rating: <%= @user.NTRP_rating %> </li>
<li> Preference of Play: <%= @user.preference_of_play %> </li>
<li> Years Played: <%= @user.years_played %> </li>
<li> Gender: <%= @user.gender %> </li> 
<li> About: <%= @user.about %> </li>
<li> Challenge Matches Won: <%= @user.wins %> </li>
<li> Challenge Matches Lost: <%= @user.losses %> </li>
<li> Total Challenge Matches Played: <%= @user.total_matches_played %> </li>
<li> Win Percentage: <%= number_with_precision(@user.win_pct, :precision => 2)%>% </li>
<li> Tournament Matches Won: <%= @user.tournament_matches_won %> </li>
<li> Tournament Matches Lost: <%= @user.tournament_matches_lost %> </li>
<li> Tournaments Won: <%= @user.tournaments_won %> </li>
<%#=<li> Challenges Won: <%= @user.challenge_matches_won  </li>
<li> Challenges Lost: <%= @user.challenge_matches_lost  </li>
<li> Posted Challenges: <%= @user.challenges_posted  </li>
<li> Challenges Accepted: <%= @user.challenges_accepted  </li>%>


