

<li> Age: <%= @user.age %> </li>
<li> Zip: <%= @user.zip %> </li>
<li> NTRP Rating: <%= @user.NTRP_rating %> </li>
<li> Preference of Play: <%= @user.preference_of_play %> </li>
<li> Years Played: <%= @user.years_played %> </li>
<li> Gender: <%= @user.gender %> </li> 
<li> About: <%= @user.about %> </li>

