

<li> Age: <%= @user.age %> </li>
<li> Zip: <%= @user.zip %> </li>
<li> NTRP Rating: <%= @user.NTRP_rating %> </li>
<li> Preference of Play: <%= @user.preference_of_play %> </li>
<li> Years Played: <%= @user.years_played %> </li>
<li> Gender: <%= @user.gender %> </li> 
<li> About: <%= @user.about %> </li>
<li> Total Wins: <%= @user.wins %>
<li> Total Losses: <%= @user.losses %>
<li> Win Percentage: <%= @user.win_pct %>
<li> Total Matches Played: <%= @user.total_matches_played %>
<li> Tournament Matches Won: <%= @user.tournament_matches_won %>
<li> Tournament Matches Lost: <%= @user.tournament_matches_lost %>
<li> Tournaments Won: <%= @user.tournaments_won %>
<li> Challenges Won: <%= @user.challenge_matches_won %>
<li> Challenges Lost: <%= @user.challenge_matches_lost %>
<li> Posted Challenges: <%= @user.challenges_posted %>
<li> Challenges Accepted: <%= @user.challenges_accepted %>


