<% provide(:title, @user.name) %>

<div class="jumbotron">
	
  <div class="row">
	  <aside class="col-md-4">
	    <section>
	      <h1>
	        <%= gravatar_for @user %>
	        <%= @user.name %>
	      </h1>
	    </section>
	    <section class="stats">
	      <%= render 'follow_form' if logged_in? %>
	      <%= render 'shared/stats' %>
	    </section>
	    <section class="user_stats">
	      	<%= render 'user_stats' %>
	    </section>
	  </aside>
	  <div class="col-md-8">
	 	<%= link_to "Create a Match", new_match_path, class: "btn btn-primary" %>
	    <%# if @user.matches.any? %>
	      <h3>Matches (<%= @user.matches.count %>)</h3>
	      <ol class="matches">
	        <%= render @matches %>
	      </ol>
	      <%= will_paginate @matches %>
	    <%# end %>
	  </div>
	</div>
</div> 
