<li> Age: <%= current_user.age %> </li>
<li> Zip: <%= current_user.zip %> </li>
<li> NTRP Rating: <%= current_user.NTRP_rating %> </li>
<li> Preference of Play: <%= current_user.preference_of_play %> </li>
<li> Years Played: <%= current_user.years_played %> </li>
<li> Gender: <%= current_user.gender %> </li> 
<li> About: <%= current_user.about %> </li>
<li> Total Wins: <%= current_user.wins %>
<li> Total Losses: <%= current_user.losses %>
<li> Win Percentage: <%= current_user.win_pct %>
<li> Total Matches Played: <%= current_user.total_matches_played %>
<li> Tournament Matches Won: <%= current_user.tournament_matches_won %>
<li> Tournament Matches Lost: <%= current_user.tournament_matches_lost %>
<li> Tournaments Won: <%= current_user.tournaments_won %>
<li> Challenges Won: <%= current_user.challenge_matches_won %>
<li> Challenges Lost: <%= current_user.challenge_matches_lost %>
<li> Posted Challenges: <%= current_user.challenges_posted %>
<li> Challenges Accepted: <%= current_user.challenges_accepted %>


