<li class="matches" id="match-<%= match.id %>">
  <span class="player1">Player 1: <%=  match.player1 %></span>
  <span class="player2">Player 2: <%= match.player2 %></span>
  <span class="time">Date and Time: <%= match.time %></span>
  <span class="location">Location: <%= match.location %></span>
  <span class="game_type">Game Type: <%= match.game_type %></span>
  <span class="timestamp">
    Created <%= time_ago_in_words(match.created_at) %> ago.
  </span>
  <% if match.time < Time.now %>
  <span> <%= button_to "Enter match scores", "#", class: "btn btn-success" %>
  <% end %>
</li>