<% provide(:title, 'New Match') %>

<div class="jumbotron">

<h1>Create a new match</h1>

	<div class="row">
	  <div class="col-md-6 col-md-offset-3">
	    <%= form_for @match do |f| %>
	      <%= render 'shared/match_error_messages' %>
	    	
	      <%= f.label :player2, "Player 2" %>
	      <%= f.text_field :player2, class: 'form-control' %>

	      <%= f.label :player3, "Player 3 (for doubles)" %>
	      <%= f.text_field :player3, class: 'form-control' %>

	      <%= f.label :player4, "Player 4 (for doubles)" %>
	      <%= f.text_field :player4, class: 'form-control' %>

	      <%= f.label :location, "The location of the match." %>
	      <%= f.text_area :location, class: 'form-control' %>

	      <%= f.label :time, "The date and time for the match" %>
	      <%= f.datetime_local_field :time, class: 'form-control' %>

	    <div class="center">
		  <%= f.label :game_type, "This is a singles match." %>
		  <%= f.radio_button :game_type, "Singles", :checked => true, :value => "Singles" %>

	      <%= f.label :game_type, "This is a doubles match." %>
	      <%= f.radio_button :game_type, "Doubles", :value => "Doubles" %>
	  	</div>

	    <div class="center">
		  <%= f.label :open, "This is a public match." %>
		  <%= f.radio_button :open, 1, :checked => true, :value => 1 %>

	      <%= f.label :open, "This is a private match." %>
	      <%= f.radio_button :open, 0, :value => 0 %>
	  	</div>

	  	<%# Change an open match to a private match if all player fields are filled out %>
	  	<% if (:open == 1 && :player2 != 'Player 2' && :player3 != 'Player 3' && :player4 != 'Player 4') %>
	  		<%= f.hidden_field :open, :value => 0 %>
	  	<% end %>

	      <%= f.submit "Create the match", class: "btn btn-primary" %>
	    <% end %>
	  </div>
	</div>

</div>
