<% provide(:title, "Open Matches") %>

<div class="jumbotron">

  <h1>Open Matches</h1>

    <%= form_tag(open_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Matches" %>
      <%= submit_tag "Search", :name => nil %>
    <% end %>

    <div class="center">
      <ol class="matches">
          <%= render @matches %>
      </ol>
      <%= will_paginate @matches %>
    </div>

  </div>

</div>
