<h1>GameSetPlay</h1>

<p>Hi <%= @user.name %>,</p>

<p>
You have been challenged to a <%= @match.game_type %> match on <%= @match.time %> at <%= @match.location %> by <%= @challenger.name %>!
</p>

<%#= link_to "View Match", "http://localhost:3000/#{match_path(@match)}" %>
<%= link_to "View Match", match_url(@match) %>